<!DOCTYPE html>
<html>
<head>
	<title>ADD BOOKS</title>
</head>
<body>

	<form action="/index" method="POST">
		<br><label>Book Name : </label>
		<input type="text" name="bname" id="bname" value="{{request.form.bname}}"><br><br>
		<label>Category : </label>
		<input type="text" name="category" id="category" value="{{request.form.category}}"><br><br>
		<label>Rent Per day : </label>
		<input type="text" name="rent_per_day" id="rent_per_day" value="{{request.form.rent_per_day}}"><br><br>
		<button type="submit">ADD</button> <br><br>
	</form>

	<table style=" background-repeat:no-repeat; width:850px;margin:0;" cellpadding="0" cellspacing="0" border=black>
		<th class="name-row">BOOK ID</th>
		<th class="name-row">BOOK NAME</th>
		<th class="name-row">BOOK CATEGORY</th>
		<th class="name-row">BOOK RENT PER DAY</th>
		{% for items in additems %}
		<tr>
			<td class="name-row" style="text-align:center">{{items.bookid}}</td>
			<td class="name-row" style="text-align:center">{{items.bname}}</td>
			<td class="name-row" style="text-align:center">{{items.category}}</td>
			<td class="name-row" style="text-align:center">{{items.rent_per_day}}</td>
		</tr>
		{% endfor %}
	</table>
	
</body>
</html>
